/* Banner */

.banner {
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    background-color: rgb(15, 140, 146);
    height: 60px;
    min-height: inherit;
}

/* Common */

body {
    font-family: 'Montserrat';
}

.but {
    margin-left: 40%;
    white-space: nowrap;
    text-align: center;
    margin-top: 10%;
    height: 15%;
    width: 25%;
}

.button {
    border-radius: 20%;
}

.btn {
    margin-top: 8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    font-weight: 900;
    font-size: 3.5rem;
}

h2 {
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Montserrat';
font-size: 75%;
}

/* #car / Carousel section*/

#car {
    background-color: #ffff;
    color: #ffff;
}

.carousel-inner {
  position: relative;
  overflow: hidden;
}

.carousel-item {
  position: relative;
  width: 100vh;
  height: 80%;
  display: none;
  width: 100%;
  padding: 0%;
  background-color: #ededed;
}

.carouselExampleIndicators {
    height: auto;
}

/* Cuisines section*/

#cuisine {
    padding: 100px;
    text-align: center;
    font-weight: 700;
    padding: 25px 50px 50px;
    background-color: #ededed;
    color: rgb(15, 140, 146);
}

.cuisine-column {
    padding: 3% 2%;
}

.food {
    height: 12rem;
    width: 15rem;
}

/* About */

.container-fluid {
    padding: 0% 15% 0%;
}

.heading {
    padding-left: 4%;
    padding-top: 10%;
    line-height: 1.5;
    font-size: 3.5rem;
    font-weight: 900;
    color: rgb(15, 140, 146);
}

/* Features section */

#features {
    padding: 7% 15%;
    text-align: center;
    background-color: #fff;
    position: relative;
    z-index: 1;
    color: rgb(15, 140, 146);
}

.icon {
    margin-bottom: 1rem;
}

/* Navbar  and modal */

#myCarousel {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-brand {
    font-family: Ubuntu;

    font-weight: bold;
}

 .nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: 100;
    font-size: 1.2rem;
}

#title {
    background-color: #ededed;
    color: rgb(15, 140, 146);
    font-family: 'Montserrat';
}

/* Footer section */

#footer {
    padding: 0% 15% 1%;
    background-color: #ffff;
    text-align: center;
}

.social-icon {
    margin: 20px 10px;
}

/* Media Query */

@media (max-width: 1028px) {
    .heading {
        text-align: center;
    }
    .btn {
        white-space: normal;
        padding-bottom: 1%;
        height: auto;
        margin-bottom: 3%;
    }
}
